*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: system-ui ;
     font-family: sans-serif; 
    text-decoration: none;
    box-sizing: border-box;   
}
body{
    background-color: #f3efef;
}
header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color:white;
}
header .menu{
    display: flex;
    list-style: none;
    margin-top: 5px; 
}
header .Nike{
    display: flex;
    list-style: none;
    margin-top: 5px; 
}
header .logo{
    margin-left: 50px;
    width: 70px;
}
header .menu a{
color: black;
margin-right: 15px;
display: flex;
flex-direction: column;
justify-content: center;
}
header .Nike a{
color: black;
margin-right: 15px;
display: flex;
flex-direction: column;
justify-content: center;
}
header nav{
    display: flex;
   
}
@media screen and (max-width:900px) {
    .menu a{
        display: none;
    }
   
    
}
header nav .menusecond{
    height: 170px;
    width: 130px;
    list-style: none;
    margin-top: 10px;
    line-height: 40px;
    border: 0px solid;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px ;
    background-color: white;
    display:none ; 
    margin-right: 20px;
    text-align: center;

}
header nav .second img{
    margin-right: 20px;
    cursor: pointer;
} 
.menu a:hover{
    opacity: 0.5;
    transition: 0.5s;
    text-decoration: underline;
}
.Nike a:hover{
    opacity: 0.5;
    transition: 0.5s;
    text-decoration: underline;
}
.menusecond a{
    color: rgb(122, 121, 121);
}
.menusecond a:hover{

    text-decoration: underline;
}
.menusecond a li:hover{
    background-color:rgba(122, 121, 121, 0.11) ;
}
.logo img:hover{
    opacity: 0.5;
}
/* 
*
*/
 .contains-largimg{
    height: 660px;
    width: 459px;
    background-color: aqua;
 }

.section{
    height: 370vh;
    background-color: white;
    margin-top: 50px;
   
}
.content-slider{
    display: flex;
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.content-slider .slider{
    margin-right: 20px;
}
.contains{
    display: flex;
}
.contains .info{
    margin-top: 100px;
    margin-left: 100px;                                                 
}
 .info h1{
    font-weight: 100;
    margin-bottom: 10px;

} 
#head-info{
    line-height: 30px;
}
#head-info p{
    margin-bottom: 10px;
    font-weight: 600;

}
 .info .info-shoes{
    border: 0px solid;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    background-color: #f3efef;
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
.parag{
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 20px;
}
.contains #Avis {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.contains .avi-text {
    display: flex;
}
#star{
    margin-top: 20px;
    margin-left: 100px;
}

 
.img img{
    margin-bottom: 30px;
}
.section2 .perfect{
    margin-left: 50px;
}
footer{
    background-color: black;
    height: 25vh;
}
footer .copyrigth{
    color: #888484;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
footer .footer{
    display: flex;
    justify-content: space-between;
}
 footer .reseau-social{
    width: 150px;
    height: 70px;
    display: flex;

 }
 footer .reseau-social a i{
      color: #3f3d3d;
      margin-right: 10px;
      margin-top: 20px;
      border: 0px solid;
      border-radius: 100%;
      padding: 5px; 
      background-color: #888484;
    }
    footer .reseau-social a i:hover{
        opacity: 0.5;
    }
    footer  .info-footer a{
        color: #888484;
        display: flex;
        line-height: 40px;
        flex-direction: column;
    }
    footer  .info-footer a:hover{
        color: white;
        text-decoration: underline;
        opacity: 0.8;
    }
    footer  .info-footer{
        margin-left: 30px;
    }
    .copyrigth {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: -70px;
    }
    #command a{
        color: white;
       
    }
    #command a{
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0px solid;
        border-radius: 30px;
        background: black;

        cursor: pointer;
        margin-bottom: 20px;
    }
    #command a :hover{
        background-color: rgb(71, 69, 69);
    }
    .info{
        margin-bottom: 30px;
    }
    .shoes{
        margin-top: 50px;
    }
    /* #img{
        width: 80%;
    } */
    #detail-product{
        display: flex;

    }
    #centreur-detail{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
    }
    #detail{
        margin-right: 40px;
    }
    #detail #technologie h1{
       font-size: 20px;
        font-weight:900;
        letter-spacing: -2px;
       padding-right: 220px;
       margin-left: 20px;
       

      } 
        #carrer {
        display: flex;
        margin-right: 0px;
    }
    #carrer div {
        margin-right: 2px;
        text-align: center;
    
    }
    .cadre{
        display: flex;
        align-content: center;
        justify-content: center;
        border: 2px solid;
       border-radius: 5px;
        padding: 25px;
        font-size: 13px;
    }
    #race{
        margin-left: 20px;
    }
    .cadre:nth-child(1){
        padding-right: 10px;
        padding-left: 10px;
        border-color: #c7c7c7da;
        color: #c7c7c7da;
        margin-left:20px;
    }

    .cadre:nth-child(2){
        padding-right: 10px;
        padding-left: 10px;
        border-color: #c7c7c7da;
        color: #c7c7c7da;
    }
    .cadre:nth-child(3){
        padding-right: 20px;
        padding-left: 20px;
        border-color: #c7c7c7da;
        color: #c7c7c7da;
    }
    .cadre:nth-child(4){
        background-color: rgba(0, 0, 0, 0.925);
        color: white;
        border-radius: 7px;
        padding-right:10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
    .cadre:nth-child(4) img{
        margin-right: 5px;
    }
    .cadre:nth-child(5){
        background-color: rgba(0, 0, 0, 0.897);
        color: white;
        border-radius: 7px;
        padding-right: 25px;
        padding-left: 25px;
        display: flex;
        align-items: center;
    }
    .cadre:nth-child(5) img{
        margin-right: 5px;
    }
    #carrer{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #race{
        margin-top: 25px;
    }
    #best{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        margin-left: 20px;
        /* letter-spacing: -1px;  */
    }
    #best b{
        margin-right: 168px;
        margin-left: 20px;
    }
    #what{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        margin-left: 30px;
    }
    #what b{
        margin-right: 168px;
    }
    #dont{
        margin-left: 20px;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    #dont b{
        margin-right: 168px;
    }
    .weigth,.tail{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        margin-left: 20px;
    }
    .weigth:nth-child(1) p{
        margin-right: 100px;
    }
    .tail b{
        margin-right: 125px;
    }
    hr{
       border-color: #ffffff;
       border-width: 0.5px;
        
    }
    #centreur-detail{
        display: none;
    }
    @media screen and (max-width:1160px){ 
        #centreur-detail{
            display: flex;
            flex-direction: column;
        }
        #detail-product{
            display: flex;
            flex-direction: column;
        }
        #prod{
            font-size: 25px;
        }
        hr{
            border-width: 0.2px;
            margin-right: 30px;
            margin-left: 30px;
        }
        #img {
            margin-left: 50px;
           
        }
        #im-detail{
            display: none;
        }
        .contains{
            display: flex;
            flex-direction: column; 
        }
    }
    @media screen and (max-width:710px){
      footer{
        height: 40vh;
      }
      footer .copyrigth{
        margin-top: 20px;
      }
    }
     #section{
        height: 150%;
    }
    .perfect{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .content-slider{
        
    }