  #form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 100px;
    margin-top: 20px;
 
}
section{
  background-image: url(/image/hom.png);
  background-size: cover;
}

#section{
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #form input{
    height: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-color: rgba(190, 187, 187, 0.288);
    border-width: 0.2px;
    padding-left: 10px;

    
  }
  #section p{
    line-height: 30px;
    text-align: center;
  }
  #section img{
    width: 50px;
  }
  #img{
    margin-top: 70px;
  }
  button{
    height: 40px;
    background-color: rgb(53, 52, 52);
    color: white;
    border-width: 0px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .polit-confid{
    margin-bottom: 250px;
    color: white;
    font-size: 18px;
  }
  .polit-confid a{
    text-decoration: underline;
    color: white;
  }
  
